<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test automtion regression suite for Tutorial Ninja"
	thread-count="2" parallel="tests" verbose="3">

	<listeners>
		<listener
			class-name="com.qa.opencart.listeners.ExtentReportListener" />
		<listener
			class-name="com.qa.opencart.listeners.TestAllureListener" />

		
		
	</listeners>

	<test name="LoginPageTest">
		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>

	</test>
	<test name="AccountPageTest">
		<classes>
			<class name="com.qa.opencart.tests.AccountPageTest" />
		</classes>

	</test>
	<test name="HomePageTest">
		<classes>
			<class name="com.qa.opencart.tests.HomePageTest" />
		</classes>

	</test>

	<test name="ProductInfoPageTest">
		<classes>
			<class name="com.qa.opencart.tests.ProductInfoPageTest" />
		</classes>

	</test>

	<test name="RegisterPageTest">
		<classes>
			<class name="com.qa.opencart.tests.RegisterPageTest" />
		</classes>

	</test>

</suite>